<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
		<link rel = "stylesheet" href= "/css/style.css">
    </head>
    <body>
        <table class="webHeader">
            <tr >
                <td><a href="/"><img class="logoImg" src="https://picsum.photos/100/100" alt="LOGO of website"></a></td>
                <td class="title">Handymen</td>
                <td class="userNav">
                {{if .id}}
				    <a class="link" href="/workers/new">Create New handyman</a>
				    <a class="link" href="/users/profile">Profile</a>
                                    <a class= "link" href="/">Logout</a>
                {{else}}
                    <a class="link" href="/users/login">Login</a>
                    <a class="link" href="/users/new">Register</a>
                {{end}}
                </td>
            </tr>
            <tr class="genNav" >
                <td colspan="3"><a class="link" href="/workers/show">Handymen</a></td>
            </tr>
        </table>

