<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
		<link rel = "stylesheet" href= "/css/style.css">
    </head>
    <body>
        <table class="webHeader">
            <tr >
                <td><a href="index.html"><img class="logoImg" src="https://picsum.photos/100/100" alt="LOGO of website"></a></td>
                <td class="title">Handymen</td>
                <td class="userNav">
				    <a class="link" href="/users/login">Login</a>
				    <a class="link" href="/users/new">Register</a>
                </td>
            </tr>
            <tr class="genNav" >
                <td colspan="3"><a class="link" href="handymen.html">Handymen</a></td>
            </tr>
        </table>