{{include "partials/header"}}
 <div class="mainContent">
                <p class="intro"> Welcome {{.user}} </p>
                <p class="intro"> Welcome {{.id}} </p>
            </div>
{{include "partials/footer"}}