<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <table class="webHeader">
            <tr >
                <td><a href="index.html"><img class="logoImg" src="https://picsum.photos/100/100" alt="LOGO of website"></a></td>
                <td class="title">Title of the Website</td>
                <td class="userNav">
				    <a class="link" href="/users/login">Login</a>
				    <a class="link" href="/users/new">Register</a>
                </td>
            </tr>
            <tr class="genNav" >
                <td colspan="3"><a class="link" href="handymen.html">Handymen</a></td>
            </tr>
        </table>
            <div class="mainContent">
                <form>
                    <table>
                        <tr>
                            <td><label for="email">Email Address</label></td>
                            <td><input type="email" id="email" name="email" class = "fixed-width" required></td>
                        </tr>
                        <tr>
                            <td><label for="password">Password</label></td>
                            <td><input type="password" id="password" name="password" class = "fixed-width" required></td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class = "align-right"><button>Login</button></td>
                        </tr>
                    </table>        
                </form>
            </div>
            <div class="footer">
                <a class="link" href="index.html">About</a>
                <a class="link" href="index.html">Contacts</a>
                <a class="link" href="https://twitter.com/?lang=en">Twitter</a>
                <a class="link" href="https://www.facebook.com/">Facebook</a>
            </div>
    </body>
</html>